*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050505;
    color:white;
    font-family:Arial, sans-serif;
    overflow-x:hidden;
}

/* Hero */

.hero{
    height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 10%;
    position:relative;
}

/* Orange glow */

.hero::before{
    content:"";
    position:absolute;
    width:500px;
    height:500px;
    background:#ff8c00;
    border-radius:50%;
    filter:blur(180px);
    right:15%;
    opacity:.2;
}

.hero-content{
    z-index:2;
    max-width:500px;
}

.hero-content h1{
    font-size:6rem;
    font-weight:900;
}

.hero-content p{
    font-size:1.4rem;
    color:#ccc;
    margin-top:15px;
}

/* Cassette */

.cassette{
    width:300px;
    z-index:2;
    transition:transform .2s ease;
    transform-style:preserve-3d;
    animation:float 5s ease-in-out infinite;
}

@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-15px);}
    100%{transform:translateY(0);}
}

/* Sections */

.about,
.contact{
    padding:100px 10%;
}

.about h2,
.contact h2{
    font-size:3rem;
    margin-bottom:20px;
}

.about p,
.contact p{
    max-width:700px;
    line-height:1.8;
}
